<h1>Livros disponiveis</h1>
<ul class="containerLivros">
    {{#each books}}
        <a href="books/{{idbooks}}">
            <li class="subcontainerLivros">
                <h2>{{title}}</h2>
                <p>Quantidade de Páginas: {{pages}}</p>
                <p>Autor: {{author}}</p>
            </li>
        </a>
    {{/each}}
</ul>